/* CSS files add styling to your content */

/* VARIABLES */

html {

}

/*  BODY */


/*  HEADER */
.header {
  background-color: #DEE1E6;
  padding:20px;
  text-align: center;
}


/*  NAVBAR */


/*  CONTENT */


/*  FOOTER */
