/* CSS files add styling to your content */

/* VARIABLES */

html {
  --headerbgc: #DEE1E6;
  --navbgc:#333;
  --navbglistc:#bbb;
  --navlistac:white;
  --navbgactive:#4CAF50;
  --navbghover:#111;
}

/*  BODY */


/*  HEADER */
.header {
  background-color: var(--bgc);
  padding:20px;
  text-align: center;
}


/*  NAVBAR */
/* Source: https://www.w3schools.com/css/tryit.asp?filename=trycss_navbar_horizontal_black_active */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--navbgc);
}

li {
  float: left;
  border-right:1px solid var(--navbglistc);
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: var(--navliac);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: var(--navbghover);
}

.active {
  background-color: var(--navbgactive);
}


/*  CONTENT */


/*  FOOTER */
/* Making a fixed footer at the bottom of the page */
.footer {
  position: fixed;
  bottom:0;
  left:0;
  width:100%;
  text-align:center;
}